<body class="bg-light">
  <div class="container" style='font-family: arial'>
    <%= image_tag attachments['csvsplitter-logo.png'].url, style: "width:200px;" %>
    <h1  style='font-size: 20px'><br>
      Hey, <%= @email %>!
    </h1>
    <p style='font-size: 14px'>
      Your file has been split successfully! Access the attached folder to check.
    </p> <br>
    <p style='font-size: 14px'>
      See you next time!
    </p>
    <footer style='font-size: 11px'>
      <p> This email was sent automatically, please do not respond. </p>
    </footer>
  <!--  Gmail do not support external CSS  -->
  </div>
</body>
