<body class="bg-light">
  <div class="container" style='font-family: arial'>
    <img src="/assets/csvsplitter-logo.png" style="width:20%;height:20%;"/>
    <h1  style='font-size: 20px'><br>
      Olá, <%= @email %>!
    </h1>
    <p style='font-size: 18px'>
      Seu arquivo foi dividido com sucesso. Acesse a pasta em anexo para conferir.
    </p> <br>
    <p style='font-size: 18px'>
      Até a próxima!
    </p>
  </div>
</body>
