
/* Page Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafada;
}

header {
display: flex;
justify-content: center;
height: 85px;
background: #ebd5f1;
}

main {
  padding: 1% 10%;
}

/* Home - Upload */

.title {
  justify-content: center;
  display: flex;
  font-size: 1.6rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.subtitle {
  font-size: 1.4rem;
}

.title h1 {
  color: #6b33b6;
}

.home {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 1% 0;
  display: flex;
  flex-direction: column;
}

.col-md-4 {
  padding: 0
}

.search_btn::file-selector-button {
  color: #fff;
  font-size: 1rem;
  background-color:#a296b1;
  padding: 0.3rem;
  border: thin solid;
  border-radius: 5px;
}

.search_btn::file-selector-button:hover {
  background-color:#0a70e6;
  cursor: pointer;
  transition: 0.3s;
}

.help {
  background-color: #ebd5f1;
  padding: 1% 5%;
  border-radius: 10px;
}
