
/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #ebd5f1;
}

h2 {
  font-size: 1.6rem;
}

#sidebar header {
  background-color: #ebd5f1;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  display: block;
  text-decoration: none;
  padding: 6%;
  border-bottom: 1px solid #ebd5f1;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav {
  display: flex;
  flex-direction: column;
}

#sidebar .nav a {
  display: flex;
  justify-content: center;
  padding: 8%;
  text-decoration: none;
}

#sidebar .nav li {
  color: #36056d;
}

#sidebar .nav a:hover {
  background-color: #fafafada;
}

/* Page Styles */

body {
  background-color: #fafafada;
}

main {
  padding: 20px 40px 20px 300px;
}

h1 {
  padding-bottom: 2%;
  color: #6b33b6;
}

/* Home - Upload */

.home {
  display: flex;
  flex-direction: column;
}

.form-group {
  padding: 1% 0;
}

.form-group.mt-3 {
  display: flex;
  flex-direction: column;
}

.col-6.col-md-4 {
  padding: 0;
}

.search_btn::file-selector-button {
  color: #fff;
  font-size: 1rem;
  background-color:#a296b1;
  padding: 0.3rem;
  border: thin solid;
  border-radius: 5px;
}

.search_btn::file-selector-button:hover {
  background-color:#0a70e6;
  cursor: pointer;
  transition: 0.3s;
}

.help {
  background-color: #ebd5f1;
  padding: 2%;
  border-radius: 10px;
}
